<% flash.each do |key, message| %>
  <div id="flash-message" class="flash <%= key %>">
    <%= message %>
  </div>
<% end %>
<%= javascript_include_tag 'flash_message', 'data-turbo-track': 'reload' %>
